body {
    background-color: hsl(210, 90%, 10%);
    padding: 2px;
    margin: 0% 5%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13,242,128);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

div {
    display: block;
}


header {
    color: hsl(150.1, 90%, 40%);
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: center;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title {
    color: hsl(0,89.8%,60%);
    border-style: solid;
    border-color: hsl(0,89.8%,60%);
    border-radius: 3px;
    padding: 1px 3px;
}

.menu {
    padding: 1px 3px;
}

.menu:hover {
    color: hsl(150.1, 90%, 50%);
    border-style: solid;
    border-color: hsl(150.1, 90%, 50%);
    border-radius: 3px;
}

footer {
    height: 5%;
    flex: 1 1 auto;
}

#gameBoard {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: hsl(0,90%,50%);
    border-width: 8px;
    border-radius: 5px;

}

.row {
    height: auto;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;

}

.cell {
    color: black;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
    width: auto;
    flex: 1 1 auto;
}

.spacer {
    padding-top: 100%;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.0s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 2;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
  }












